.venv/
.vscode/
__pycache__/

*.pyc

reports/output/*.pdf

assets/screenshots/*.png

structure.txt

*.pkl
*.tar
*.zip
*.7z

__pycache__/
*.pyc
.venv/
venv/
.env

.streamlit/secrets.toml

outputs/
generated_reports/
generated_surveys/
*.pdf
*.tar

.DS_Store
Thumbs.db